<div>
  <div>新規登録</div>
  
 <%= form_tag('/users/create') do %> <!--form_tagメソッドでフォームの送信先を指定 -->
  <div class='form'>
    <p>ユーザー名</p>
      <input name='name' value="<%= @user.name %>"> <!--valueで初期値を設定。@userはusersコントローラーのcreateアクションで定義 -->
   
    <p>メールアドレス</p>
      <input name='email' value="<%= @user.email %>">
      
    <p>パスワード</p>
      <input type='password' name='password' value="<%= @user.password_digest %>">
      
      <input type='submit' value='新規登録'>
  </div>
<% end %>
</div>