<div class="main items-index">
  <div class="container">
      <% @items.each do |item| %>
      <div class="items-index-content">
        <p><%= link_to(item.user.name, "/users/#{item.user.id}") %></p>
        <p><%= link_to(item.content, "/items/#{item.id}") %></p>
      </div>
    <% end %>
  </div>
</div>